h1 {
  text-align: center;
}

.histogram {
  img {
    width: 100%;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  li.kudo {
    color: #bbb;
    margin-top: 1em;
    .count, .receiver, .giver, .message {
      color: #333;
      font-weight: bold;
    }
  }
}
