{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Kudos delivered:</h1>
    <ul>
      {% for kudo in object_list %}
      <li><a href="{% url 'kudo_detail' kudo.id %}">
        <span class="count">{{kudo.count}}</span> for
        {% for receiver in kudo.receivers.iterator %}
        <span class="receiver">{{receiver}}</span>
        {% endfor %}
        from <span class="giver">{{kudo.giver}}</span>
      </a></li>
      {% empty %}
      <li>Sad times. You haven't given anyone any kudos yet.</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
