{% extends "_layouts/base.html" %}
{% load bootstrap %}

{% block css %}
{{block.super}}
{% endblock css %}

{% block page_title %}Kudos | Datascope{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <form role="form">
        <legend>Form Title</legend>
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>

  </div>
</div>

{% endblock %}
